@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@300;500;800&family=Raleway:wght@500;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;   
}

header, .hero, .catagories, .about, .talk, footer{
    padding: 0 20% 0 20%;
}


/* BACKGROUND */
.bg{
    background-image: url(assets/bg-2.jpg);
    background-position: bottom center;
    background-size: cover;
}

/* HEADER */
header{
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
    backdrop-filter: blur(10px);
    
}

header nav{
    display: flex;
    height: 80px;
    align-items: center;
}

header ul{
    display: flex;
    gap: 10%;
}

header li{
    list-style: none;
    text-transform:uppercase;
}


/* HERO SECTION */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 200px 0 200px 0;
}

.hero h1{
    font-size: 100px;
    color: beige;
}

.hero h2{
    color: #fafafa;
    font-weight: 100;
}

.hero span{
    margin-top: 100px;
    padding: 20px 30px;
    font-weight: 900px;

    display: inline-block;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: #FAFAFA;
    cursor: pointer;
}


/* CATAGORIES SECTION */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0 100px 0;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    overflow: hidden;
    margin: 20px;
    width: 300px;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
    margin-bottom: 8px;
}

.card-title {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-category {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
}

.card button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    border: none;
    color: #FAFAFA;
    cursor: pointer;
}

/* ABOUT */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 100px;
    color: #333;
}

.about img{
    width: 400px; 
    height: 300px;    
}

.about div{
    max-width: 500px;
}

/* TALK */
.talk{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #333;
}

.talk button{
    display: inline-block;
        padding: 8px 16px;
        background-color: #333;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 16px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        border: none;
        color: #FAFAFA;
        cursor: pointer;
}


/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    color: #fafafa;
    padding-bottom: 30px;
    background-color: #82f3b3;
    background-color: linear-gradient(135deg, rgba(255,255,255.0.1), rgba(255, 255, 255.0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


footer ul{
    display: flex;
    gap: 5%;
}

footer li{
    list-style: none;

}